*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 1%, 26%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(248, 247, 247, 0.1);
    justify-content: center;

}
.container #links  {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #2a2929;
    color: #fff;
}
.container a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #2a2929;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.container a:hover {
    background-color: #000;
}